@font-face{
    font-family: 'Titel-Display';
    src: url('public/fonts/Causten-MediumOblique.otf') format('truetype');
}
@font-face{
    font-family:'Price-Display';
    src: url('public/fonts/Causten-Bold.otf') format('truetype');
}
@font-face{
    font-family:'Button-Primary';
    src: url('public/fonts/Causten-ExtraBold.otf') format('truetype');
}
@font-face{
    font-family:'Titel-Secondary';
    src: url('public/fonts/Causten-BoldOblique.otf') format('truetype');
}
@font-face{
    font-family:'Regular-Oblique';
    src: url('public/fonts/Causten-RegularOblique.otf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;